.top:hover {
	background-image: url("../img/top.png");
    background-repeat: no-repeat;
    background-attachment: fixed;/*针对Firefox和opera*/
    background-position: 103.3% 96%;
}
.top{
    position: fixed;
    /*background-color: #e00f0f;*/
    width: 65px;
    height: 107px;
    right: 26px;
    bottom: 26px;
    background-image: url("../img/top.png");
    background-repeat: no-repeat;
    background-attachment: fixed;/*针对Firefox和opera*/
    background-position: 98.3% 96%;

}
.time{
	position: absolute;
	top: 10px;
	left: 10px;
}
