body{
	margin: 0;
	padding: 0;
}
h1{
	font-size:20px;
	color: blue;
	text-align: center;
	margin: 10px auto;
}
a{
	text-decoration: none;
}
.message{

}
div{
	margin: 100px auto;
	margin: auto;
	/*border: 1px solid black;*/
	text-align: center;
}
p{
	height: 20px;
	font-size: 20px;
}
.hid{
	display: none;
}
button{
	width: 50px;
	height: 30px;
}
#theTime{
	font-size: 12px;
	position: fixed;
	right: 20px;
	bottom: 10px;
	width: 95px;
	height: 40px;
	background-color: gray;
}
.index{
	width: 20%;
	height: 222px;
	float: left;
}
.page{
	border: none;
	width: 400px;
	margin-top: 400px;
}
.main{
	width: 80%;
	margin: auto;
	border: none;
}
.content{
	width: 60%;
	float: right;
	background-color: 
}